.about {
    margin-bottom: 0;

    &__wrapper {
        max-width: 1400px;
        background: url(../../img/about/bg.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 90px 0;
    }

    &__container {
        max-width: 1040px;
    }

    &__body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }

    &__box {
        position: relative;
        height: 165px;
        width: 505px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
        padding: 30px 30px 0px 30px;

        @media (max-width: 1200px) {
            width: unset;
            max-width: 505px;
        }

        &::after {
            content: '';
            width: 6px;
            height: 100%;
            background: #DD4053;
            position: absolute;
            top: 0;
            visibility: hidden;
            opacity: 0;
            left: 0;
            transition: all 0.5s ease-in-out;
        }
    }

    &__box:hover {
        @media(max-width:1200px) {}

        &::after {
            visibility: visible;
            opacity: 1;
        }
    }

    &__item-flex {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #656565;

        span {
            font-weight: 700;
        }
    }

    &__checkbox-img {
        padding: 8px;
        background-color: #fff;
        border: 1px solid #C6C6C6;
    }
}