@import '/node_modules/swiper/swiper-bundle.css';


.hero {

    &__content{
        position: relative;
    }

    &__swiper{
        width: 100%;
        height: 490px;
        position: relative;
    }


    &__swiper-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__suggest{
        position: absolute;
        margin-top: 104px;
        top: 0;
        z-index: 2;
        color: #fff;
        cursor: default;
        
    }

    &__price{
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 16px;
        padding: 7px 23px;
        font-size: 1.7em;
        border: 1px solid #fff;
        max-width: 253px;
        width: 100%;
        font-weight: 600;
        line-height: 133%;
    }
    
    &__title{
        margin-bottom: 40px;
        font-weight: 500;
        font-family: $fontFamily;
        font-size: 3.2em;
        text-transform: uppercase;
        max-width: 725px;
        width: 100%;
       line-height: 122%;
    }

    &__link{
        background: rgba(255, 255, 255, 0.25);
        border-radius: 2px; 
        padding: 18px 85px 22px ;
        &:hover{
            background: #DD4053;
            transition: 0.2s ease-in-out ;
        }
        
    }
//  <!--ТУРОПЕРАТОР ВЫСОКОГО УРОВНЯ ОБСЛУЖИВАНИЯ-------------------------------->

    &__service{
        background-color: #F8F8F8;
        padding: 30px 0 45px 0;
    }

    &__columns {
        display: flex;
        gap: 85px;
    }

    // <!--ПЕРВАЯ КОЛОНКА-------------------------------------------->

    &__first-column{

        &-title {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 2.1em;
            line-height: 120%;
            color: #1D1D1D;
        }
        &-subtitle {
            margin-bottom: 20px;
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 1.2em;
            line-height: 156%;
            color: #777777;
        }
        &-buttons {
            display: flex;
            gap: 30px;
        }
        &-button{
            padding: 15px 44px;
            text-align: center;
            background: #BDBDBD;
            border-radius: 2px;
            font-weight: 700;
            font-size: 16px;   
            color: #fff;
            &:hover {
                background: #DD4053;
                transition: 0.5s ease;
            }
            &:nth-child(2){
                border-radius: 0px;
                border: 1px solid #969696;
                background: rgba(0, 0, 0, 0);
                color: #969696;
                font-weight: 700;
                font-size: 1.1em;
                line-height: 20px;
                &:hover {
                    background: #DD4053;
                    transition: 0.5s ease;
                    color: #fff;
                    border: none;
                }
            }
        }


    }
   
    // <!--ВТОРАЯ КОЛОНКА-------------------------------------------->
    &__second-column{
        &-list {
            display: flex;
        flex-direction: column;
        gap: 10px;
        &:before:nth-of-type(2){
            content: url(../../img/hero/hero2.svg);
        }
        &:before:nth-of-type(3){
            content: url(../../img/hero/hero3.svg);
        }
        }
        &-point {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 1.2em;
            line-height: 367%;
            white-space: nowrap;
            &:before{
                content: url(../../img/hero/hero1.svg);
                position: relative;
                margin-right: 21px;
                border: 1.3px dashed #969696;
                padding: 13px;
                border-radius: 50%;
            }
            &:before:nth-child(2){
                content: url(../../img/hero/hero2.svg);
            }
            &:before:nth-child(3){
                content: url(../../img/hero/hero3.svg);
            }
        }
    }
}





// SWIPER 

// БУЛЛЕТЫ
.swiper-paginaton{
    position: relative;
    text-align: left;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border: 1px solid #FFFFFF;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    text-align: left;
    position: relative;
    bottom: 60px;
    left: 200px;
}


.swiper-pagination-bullet-active {
    background-color: #fff;
}